﻿@model int
@{
    ViewBag.Title = "Zamówienie kompletne";
}
<h2>Zamówienie kompletne</h2>
<p>Dziękujemy za zamówienie, id Twojego zamówienia to: @Model</p>
<p>
    Kup Więcej
    @Html.ActionLink("Kup", "Index", "Home")
</p> 