﻿@using System.Diagnostics.Eventing.Reader
@using System.Globalization
@model ASP_Restaurant.ViewModel.ShoppingCartViewModel
@{
    ViewBag.Title = "Koszyk";
    CultureInfo us = new CultureInfo("pl-PL");
}

<h3 class="text-center">
    <span><img src="~/Content/Images/shoping_cart.png" />Twoj koszyk:</span>
</h3>
<div id="update-message" class="text-info">
</div>
@if (Model.CartItems.Count == 0)
{
    <a class="btn-danger" href="~/StoreFront/Index/2">Twoj koszyk jest pusty, kontynuuj kupowanie---></a>
}
else
{
    <table class="table-responsive table-bordered table-striped">
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Cena(Poj.)
            </th>
            <th>
                Liczba
            </th>
            <th>Razem</th>
            <th></th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr id="row-@item.ProductId">
                <td>
                    @Html.ActionLink(item.Product.Name, "Details", "Products", new { id = item.ProductId }, null)
                </td>
                <td>
                    @item.Product.Price
                </td>
                <td id="item-count-@item.ProductId">
                    @item.Count
                </td>
                <td>
                    @((item.Product.Price * item.Count).ToString("c", us))
                </td>
                <td>
                    <a href="" class="RemoveLink" data-id="@item.ProductId">
                        Usuń z koszyka
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td>
                Razem za wszystko
            </td>
            <td></td>
            <td></td>
            <td id="cart-total" class="text-success">
                <b>@Model.CartTotal.ToString("C", us)</b>
            </td>
        </tr>
    </table>

    <p class="button">
        <a href="~/StoreFront/Index/2">Kontynuuj kupowanie>></a>
    </p>
    <p class="button">
        @Html.ActionLink("Zamów>> ", "AddressAndPayment", "Checkout")
    </p>
}


