﻿@{
    ViewBag.Title = "Witaj";
}
<div class="slider hidden-xs">
    <ul class="rslides">
        <li><img src="~/Content/Images/deser.png" alt="" /></li>
        <li><img src="~/Content/Images/kawa.png" alt="" /></li>
        <li><img src="~/Content/Images/glowne.png" alt="" /></li>
        <li><img src="~/Content/Images/glowne2.png" alt="" /></li>
    </ul>
</div>
<br />
<h3 class="text-center">Wybierz kategorie z Menu</h3><br />
<div class="row">
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/2">
                <h2>Napoje</h2>
                <img src="~/Content/Images/napojeikona.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/3">
                <h2>Dania Glowne</h2>
                <img src="~/Content/Images/glowneikona.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/4">
                <h2>Desery</h2>
                <img src="~/Content/Images/deserikona.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywraplast">
            <a href="~/StoreFront/Index/5">
                <h2>Zupy</h2>
                <img src="~/Content/Images/zupaikona.png" alt="" />
            </a>
        </div>
    </div>
</div>